<div class="row">
  <div class="col-lg-2">
  </div>
    <div class="col-lg-8 text-white pt-5">
      <% if @cooking.errors.any? %>
          <%#= @cooking.errors.count %>
          <% @cooking.errors.full_messages.each do |message| %>
            <div>
              <li><font color="red"><%= message %></font></li>
            </div>
          <% end %>
        <% end %>
      <div class="row">
        <div class="col-lg-6">
          <%= attachment_image_tag @cooking, :cooking_image, :fill, 250, 200, format: 'jpeg' %>
          <%= form_with model: @cooking, local: true do |f| %>
          <p>料理</p>
          <%= f.attachment_field :cooking_image %>
          <p>料理名</p>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
        </div>
        <div class="col-lg-6">
          <div class="pb-2">作り方</div>
          <%= f.text_area :cooking_introduction, size: "46x11" %>
          <div class="text-center">
            <%= f.submit '更新', class: "btn btn-success" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <div class="col-lg-2">
  </div>
</div>