<div class="pt-3">
  <font color="#FF6600"><div class="h2">Users</font></div>
</div>
<div class="row">
  <% @users.each do |user| %>
    <div class="cooking col-md-3 pt-3 mb-3 border border-warning rounded">
      <div>
        <span class="ml-2">会員番号<span class="ml-2"><%= user.id %></span></span>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class:"rounded-circle"; %>
        </div>
        <div class="cooking_user col-lg-7">
          <div>
            <i class="fas fa-user"></i><span class="ml-1"><%= user.name %></span>
          </div>
          <div>
            <i class="fas fa-utensils"></i><span class="ml-1">投稿数</span><span class="ml-2"><%= user.cookings.count %></span>
          </div>
        </div>
      </div>
      <div class="pt-2">
        <span class="ml-2"><i class="far fa-envelope"></i></span><span class="ml-2"><%= user.email %></span>
      </div>
      <div class="pt-2">
        <span class="ml-2">自己紹介文</span>
      </div>
      <div>
        <%= user.introduction %>
      </div>
    </div>
  <% end %>
</div>